name: Upload Azure B2C Custom Policies

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment to deploy to'
        required: true
        type: choice
        default: 'dev'
        options:
          - dev
          - test
          - demo
          - stg
          - prod

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: 'Upload B2C Custom Policies to ${{ github.event.inputs.environment }}'
        uses: azure-ad-b2c/deploy-trustframework-policy@v5
        with:
          folder: './b2c/custom_policies/${{ github.event.inputs.environment }}'
          files: 'TrustFrameworkBase.xml,TrustFrameworkLocalization.xml,TrustFrameworkExtensions.xml,SignUpOrSignin.xml,ProfileEdit.xml'
          tenant: 'hmcts${{ github.event.inputs.environment }}extid.onmicrosoft.com'
          clientId: ${{ secrets[format('PRE_MANAGEMENT_APP_CLIENT_ID_{0}', github.event.inputs.environment)] }}
          clientSecret: ${{ secrets[format('PRE_MANAGEMENT_APP_CLIENT_SECRET_{0}', github.event.inputs.environment)] }}
