name: Upload Azure B2C Custom Policies V2

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment to deploy to'
        required: true
        type: choice
        default: 'dev'
        options:
          - dev
          - stg
          - test

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 'Upload B2C Custom Policies to ${{ github.event.inputs.environment }}'
        uses: azure-ad-b2c/deploy-trustframework-policy@v5
        with:
          folder: './b2c/custom_policies/${{ github.event.inputs.environment }}'
          files: 'B2C_1A_TrustFrameworkBase.xml,B2C_1A_TrustFrameworkLocalization.xml,B2C_1A_TrustFrameworkExtensions.xml,B2C_1A_SignUpOrSignin.xml,B2C_1A_UserInfo.xml'
          tenant: 'hmcts${{ github.event.inputs.environment }}extid.onmicrosoft.com'
          clientId: ${{ secrets[format('PRE_MANAGEMENT_APP_CLIENT_ID_{0}', github.event.inputs.environment)] }}
          clientSecret: ${{ secrets[format('PRE_MANAGEMENT_APP_CLIENT_SECRET_{0}', github.event.inputs.environment)] }}
